/*-- scss:tables --*/

.gt_footnote, .gt_sourcenote {
     text-align: left;
}

.gt_col_headings th.gt_col_heading {
     box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.gt_table_body td.gt_row {
//box-shadow: -1px -1px 7px 1px rgba(0, 0, 0, 0.2) inset;
     box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2) inset;
}

.table-flex {
     overflow-y: auto; 
     overflow-x: auto;
     max-height: 70vh;
     max-width: auto;
     scrollbar-width: thin;
     scrollbar-color: rgba(255, 255, 255, .50) transparent;
     padding-bottom: 1rem;
}

.skinny-tables {
     //display: flex;
     display: flex;
     justify-self: center;
     font-size: clamp(0.7rem, 1.5vw, 1.0rem);
     
     /* Extra small devices (portrait phones, < 576px) */
     @media (max-width: 575.98px) {
          max-width: 40vw; /* Smaller font for tiny screens */
     }

     @media (min-width: 576px) { // Small devices (landscape phones)
          max-width: 23vw;
     }
     
     @media (min-width: 768px) { // Medium devices (tablets)
          max-width: 17vw;
     }
     
     @media (min-width: 1200px) { // Extra large desktops
          max-width: 14vw;
     }
}

.medium-large-tables {
     display: flex;
     justify-self: center;
     font-size: clamp(0.7rem, 1.5vw, 1.0rem);
     
     @media (min-width: 576px) { // Small devices (landscape phones)
          max-width: 100vw;
     }
     
     @media (min-width: 768px) { // Medium devices (tablets)
          max-width: 100vw;
     }
     
     @media (min-width: 1200px) { // Extra large desktops
          max-width: 90vw;
     }
}

.large-tables {
     display: flex;
     justify-self: center;
     font-size: clamp(0.5rem, 1.5vw, 1.25rem);
     
     @media (min-width: 576px) { // Small devices (landscape phones)
          max-width: 100vw;
     }
     
     @media (min-width: 768px) { // Medium devices (tablets)
          max-width: 100vw;
     }
     
     @media (min-width: 1200px) { // Extra large desktops
          max-width: 100vw;
     }
}
